################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/проектЭпштена/.vs/проектЭпштена/FileContentIndex/417a4600-6e25-4eea-9b8f-477f3ff7a470.vsidx
