################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/проектЭпштена/.vs/проектЭпштена/FileContentIndex/417a4600-6e25-4eea-9b8f-477f3ff7a470.vsidx
/проектЭпштена/.vs/проектЭпштена/FileContentIndex/59ceb248-8b9c-4450-ab54-474410f15178.vsidx
/проектЭпштена/.vs/проектЭпштена/FileContentIndex/b941dae3-d888-4599-8ba5-0f18501c3c30.vsidx
/проектЭпштена/.vs/проектЭпштена/FileContentIndex/bdb729d4-d8ca-4410-a87b-b1ec9255e934.vsidx
/проектЭпштена/.vs/проектЭпштена/v17/Browse.VC.opendb
